@media (max-width: 599px) {
  mat-card {
    margin: 10px 5% 10px 5%;
  }
}

@media (min-width: 600px) {
  mat-card {
    margin: 10px 20% 1px 20%;
  }
}

@media (min-width: 900px) {
  mat-card {
    margin: 10px 30% 10px 30%;
  }
}

@media (min-width: 1200px) {
  mat-card {
    margin: 10px 30% 10px 30%;
  }
}

@media (min-width: 1800px) {
  mat-card {
    margin: 10px 50% 10px 50%;
  }
}

mat-card {
  padding: 10px;
}

small {
  font-size: xx-small;
}

p {
  line-height: 7px;
}
