.cards {
    height: 410px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.cards .card {
    margin-right: 3px;
}

.cards .card, .cards .card-image {
    width: 90px;
}

.card-image {
    border-radius: 0.5em;
}
