@media (max-width: 599px) {
    main mat-card {
        margin: 0 5%;
        margin-top: 5%;
    }
}

@media (min-width: 600px) {
    main mat-card {
        margin: 0 20%;
        margin-top: 5%;
    }
}

@media (min-width: 900px) {
    main mat-card {
        margin: 0 30%;
        margin-top: 5%;
    }
}

@media (min-width: 1200px) {
    main mat-card {
        margin: 0 30%;
        margin-top: 5%;
    }
}