<app-topmenu></app-topmenu>

<main>
  <mat-card>

    <h1 i18n class="brand">Planning Poker</h1>

    <div class="members">
      <mat-icon class="mat-icon-aside">&#xE314;</mat-icon>
      <aside class="aside aside-left">
        <button mat-raised-button color="primary"
                (mousedown)="this.membersMoveRight()"
                (mouseup)="this.membersMoveStop()">
          <mat-icon>&#xE314;</mat-icon>
        </button>
      </aside>
      <div class="main" #membersMain>
        <div class="scroll" #membersScroll>
          <div class="member" *ngFor="let member of this.members">
            <img class="member-image" src="/assets/avatars/{{member.avatar}}" id="{{member.id}}"/>
            <div class="member-name"><small>{{member.name}}</small></div>
          </div>
        </div>
      </div>
      <aside class="aside aside-right">
        <button mat-raised-button color="primary"
                (mousedown)="this.membersMoveLeft()"
                (mouseup)="this.membersMoveStop()">
          <mat-icon>&#xE315;</mat-icon>
        </button>
      </aside>
      <mat-icon class="mat-icon-aside">&#xE315;</mat-icon>
    </div>

    <div class="cards">
      <aside class="aside aside-left">
        <button mat-fab color="primary" (click)="this.moveRight()">
          <mat-icon>&#xE314;</mat-icon>
        </button>
      </aside>

      <div class="main" #main>
        <div class="card" style="display: none"
             [@cardFlip]="this.cover"
             (@cardFlip.done)="this.flipEnd()">
          <div class="card-info">
            <button mat-icon-button (click)="this.flipOut()">
              <mat-icon>info</mat-icon>
            </button>
          </div>
          <div class="card-description" [innerHtml]="this.coverInfo"></div>
          <img class="card-image" src="/assets/pokercards/pokercard-cover.svg"/>
        </div>
        <div class="card"
             *ngFor="let pokercard of this.pokercards"
             [@cardFlip]="pokercard.flip"
             (@cardFlip.done)="this.flipEnd()"
             [@cardMove]="pokercard.state"
             (@cardMove.done)="this.moveEnd()"
             (swipeleft)="this.moveLeft()"
             (swiperight)="this.moveRight()">
          <div class="card-info">
            <button mat-icon-button (click)="this.flipIn()">
              <mat-icon>info</mat-icon>
            </button>
          </div>
          <img class="card-image" src="/assets/pokercards/{{pokercard.image}}" alt="{{pokercard.title}}"/>
        </div>
      </div>

      <aside class="aside aside-right">
        <button mat-fab color="primary" (click)="this.moveLeft()">
          <mat-icon>&#xE315;</mat-icon>
        </button>
      </aside>
    </div>

  </mat-card>
</main>

<footer>

</footer>
