<app-topmenu></app-topmenu>

<main>
  <mat-card>

    <h1 i18n class="brand">Planning Pocker</h1>

    <div class="form">
      <mat-form-field>
        <input matInput placeholder="Your Name" required>
      </mat-form-field>
      <mat-form-field>
        <input matInput placeholder="Key For Room" required>
        <button matSuffix mat-button color="accent">NEW KEY</button>
      </mat-form-field>
    </div>

    <button routerLink="/planning-poker-room" mat-raised-button color="primary">ATTEND</button>

  </mat-card>
</main>

<app-footer></app-footer>
