@media (max-width: 599px) and (max-height: 460px) {
  .topmenu-brand {
    font-size: medium;
  }

  header,
  header .mat-toolbar,
  header .mat-toolbar-row {
    height: 50px;
    min-height: 50px;
  }

}
.topmenu-icon {
    padding: 0 14px;
}

.topmenu-spacer {
    flex: 1 1 auto;
}

.topmenu-brand {
    font-family: 'Carter One', cursive;
    text-align: center;
}
