
body {
    margin: 0px;
    padding: 0px;
}

footer {
    font-family: Roboto, Noto, "Helvetica Neue", sans-serif;
    font-size: 0.9em;
    text-align: center;
}

@media (max-width: 599px) {

}

@media (min-width: 600px) {

}

@media (min-width: 900px) {

}

@media (min-width: 1200px) {

}

@media (min-width: 1800px) {

}

.link {
    text-decoration: none;
}

.mat-toolbar.mat-primary a {
    color: #fff;
}
.mat-toolbar.mat-primary .link {
    font-family: 'Carter One', cursive;
    font-size: 1.0em;
}

.mat-toolbar.mat-primary .link-menu {
    font-size: 1.5em;
    margin-right: 0px;
}

.mat-toolbar.mat-primary .link-menu .menu-icon {
    padding: 0;
    margin-top: 10px;
}

h1, p {
    color: #212121;
}