
body {
    margin: 0px;
    padding: 0px;
}

footer {
    font-family: Roboto, "Helvetica Neue", sans-serif;
    font-size: 0.9em;
    text-align: center;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 768px) {
    .container {
        max-width: 720px;
    }
}

@media (min-width: 992px) {
    .container {
        max-width: 960px;
    }
}

@media (min-width: 1200px) {
    .container {
        max-width: 1140px;
    }
    header, main, footer {
        margin: 0 30%;
    }
}

.link {
    text-decoration: none;
}

.mat-toolbar.mat-primary a {
    color: #fff;
}
.mat-toolbar.mat-primary .link {
    font-family: 'Carter One', cursive;
    font-size: 1.0em;
}

.mat-toolbar.mat-primary .link-menu {
    font-size: 1.5em;
    margin-right: 10px;
}