
@media (max-width: 599px) {
    .home mat-card {
        margin: 0 5%;
        margin-top: 5%;
    }
}

@media (min-width: 600px) {
    .home mat-card {
        margin: 0 20%;
        margin-top: 5%;
    }
}

@media (min-width: 900px) {
    .home mat-card {
        margin: 0 30%;
        margin-top: 5%;
    }
}

@media (min-width: 1200px) {
    .home mat-card {
        margin: 0 30%;
        margin-top: 5%;
    }
}

@media (min-width: 1800px) {
    .home mat-card {
        margin: 0 50%;
        margin-top: 5%;
    }
}

.brand {
    font-family: 'Carter One', cursive;
    margin: 2% auto 0 auto;
    text-align: center;
}

.mat-raised-button {
    margin: 0 auto;
    padding: 10px 20px;
    font-size: 130%;
}

p {
    margin: 0 auto;
    text-align: center;
}

mat-list mat-list-item {
    height: 80px;
}
